@import "../../../style/_variable.scss";
.profile {
  background-color: #0b0c2a;
  color: #000;
  font-family: "Oswald", sans-serif;
  .img-account-profile {
    height: 10rem;
    width: 10.5rem;
  }
  .custom-file-upload {
    cursor: pointer;
  }
  .imageBtn {
    display: none;
  }
  .rounded-circle {
    border-radius: 50% !important;
  }
  .card {
    background-color: transparent;
    color: white;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  }
  .card .card-header {
    font-weight: 700;
    font-size: larger;
  }
  .card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
  }
  .card-header {
    padding: 1rem 1.35rem;
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
  }
  .form-control,
  .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .error {
    font-size: 10px;
    color: red;
  }
}
