@import "../../../style/_variable.scss";

.redeem {
    font-family: "Oswald", sans-serif;

    .redeem__body {
        background-color: $footer-color;
        padding: 50px 0 70px 0;

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .error {
                font-size: 10px;
                color: red;
            }

            .redeem__form {
                z-index: 5;
                background-color: #fff;
                border-radius: 2px;
                width: 40%;
                margin-left: 350px;
                padding: 15px 25px;
                box-shadow: 0 0.3rem 1rem 0 #00000024;

                .title {
                    font-size: 20px;
                }

                .form-group {
                    margin: 10px 0;
                }

                .form-control {
                    height: 40px;
                    font-size: 13px;
                }

                .submit {
                    color: white;
                    font-weight: 700;
                    background-color: $primary-color;
                    border: 1px solid #ccc;
                    padding: 9px 9px;
                    cursor: pointer;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 12px 0;
                    width: 100%;
                    font-size: 15px;
                    outline: none;

                    &:hover {
                        opacity: 0.9;
                    }
                }

                .middle {
                    display: flex;
                    align-items: center;

                    .cutSection {
                        height: 0.5px;
                        background-color: gray;
                        margin: 0;
                        flex: 1;
                    }
                }
                .redeem__footer {
                    h1 {
                        margin-top: 8px;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                    }
                    .redeem__footer__tip {
                        font-size: 12px;
                        line-height: 15px;
                        font-weight: 400;
                        color: #999;
                        word-wrap: break-word;
                        margin-top: 8px;
                    }
                    a {
                        color: blue;
                    }
                }
            }
        }
    }
}